@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
#brand {
  font-family: "Pacifico", cursive;
}
nav {
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #c6bdbd;
  border-radius: 0.2rem;
}
#nav-icons {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
}
#nav-icons > svg {
  width: 22px;
  height: 22px;
}
/* .nav-items{
  
} */
.suggestion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  color: gray;
}
.suggest-profile {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
.container {
  margin: auto;
  padding-top: 1rem;
  display: flex;
  width: 75%;
}
#doom-scrolling {
  width: 70%;
  margin-right: 1rem;
}
#container-fix {
  width: 30%;
}
#stories {
  display: flex;
  border: 1px solid #c6bdbd;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}
.story {
  padding: 1rem 0 1rem 1rem;
}
#switch-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 18px;
}
.post-header {
  display: flex;
  align-items: center;
  padding: 14px 4px 14px 16px;
  justify-content: space-between;
}
.username {
  margin-left: 1rem;
}
.user {
  display: flex;
  align-items: center;
}
.options {
  padding: 8px;
}
.post {
  border: 1px solid #c6bdbd;
  border-radius: 0.2rem;
}
